<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <title>Battles</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A view consisting of a list of battles">
    <meta name="keywords" content="Battle, Soldiers, War">
    <link rel="shortcut icon" type="image/ico" href="/dist/img/favicon.ico"/>
    <!-- Css Links -->
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- JavaScript links -->
    <script src="/dist/js/index.js"></script>
</head>
<body>
